<div class="well">
	<div class="col-xs-2">
		<img class="" src="http://ico.ukm.no/mailbox-64.png">
	</div>
	<div class="col-xs-10">
		<p class="lead">Pressemelding</p>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12">
		<p>Vi har laget en egen pressemelding-side for dine lokalaviser. Pass på at du har <a href="?page=UKMpr">registrert riktig info om dine lokalaviser</a>, og <a href="?page=UKMpr_melding">skrevet en pressemelding.</a></p>

		<p><span class="lead">Hvordan sende ut pressemeldingen?</span><br /> 
		Kopier <a href="?page=UKMpr_adresser">listen med e-postadresser</a> inn i outlook (eller annet e-postprogram) og send litt informasjon sammen med følgende lenke ut til alle lokalaviser <a href="http://pressemelding.ukm.no">http://pressemelding.ukm.no.</a></p>
	</div>

	<div class="clearfix"></div>
</div>