<h1>Adresser til dine aviser</h1>

{% if site_type == 'kommune' %}
	Beklager, dette er ikke klart for lokalmønstringer. <a href="mailto:support@ukm.no">Etterspør dine adresser</a>
{% endif %}


{% if aviser|length > 0 %}
	<h2>E-postadresser klar for outlook / pc (semikolon-separert)</h2>
	{% for avis in aviser %}{{ avis.getEmail() }};{% endfor %}
	
	<h2>E-postadresser klar for mac (kommaseparert)</h2>
	{% for avis in aviser %}{{ avis.getEmail() }},{% endfor %}
{% else %}
	Det er ikke lagt til noen aviser. Gå til <a href="?page=UKMpr">Lokalaviser</a>
{% endif %}