<h2>
	Aviser
	&nbsp; &nbsp;
	<a href="?page=UKMpr&action=create" class="btn btn-primary">Legg til en ny avis</a>
</h2>
<p class="lead">Hold oss oppdatert på hvilke aviser som gjelder for {{ site_type == 'fylke' ? 'ditt fylke' : 'din mønstring' }}. Informasjonen brukes til å sende ut pressemeldinger.</p>


<div class="col-xs-12">
	{% if flashbag is defined %}
		<div class="alert alert-{{flashbag.status}}">{{flashbag.message}}</div>
	{% endif %}
</div>

{% if aviser|length == 0 %}
	<p>Det er ikke lagt til noen aviser i ditt fylke enda. <a href="admin.php?page=UKMpr&action=create">Legg til den første?</a>
{% else %}
	<form action="?page=UKMpr&action=do_relate" method="POST">
		{% for kommune in kommuner %}
			<div class="col-xs-12 col-sm-6">
					<fieldset>
					<legend>{{ kommune.name }}</legend>
					<ol class="list-unstyled">
					{% for avis in aviser %}
						<li>
							<label>
								<input type="checkbox" name="kommune_{{kommune.id}}[]" value="{{ avis.getId() }}" {{ avis.isRelated( kommune.id ) ? 'checked' : '' }} />
								{{ avis.getName() }}
								<i class="label label-{{ avis.getType() == 'lokal' ? 'info' : 'warning' }}">{{ avis.getType() }}</i>
							</label>
							<small>{{ avis.getEmail() }}</small>
						</li>
					{% endfor %}
					</ol>
				</fieldset>
				<p>&nbsp;</p>
			</div>
			{% if loop.index is divisible by( 2 ) %}
				<div class="clearfix"></div>
			{% endif %}
		{% endfor %}

		<div class="clearfix"></div>
		
		<input type="submit" class="btn btn-success" value="Lagre" />
	</form>
{% endif %}