<h2 style="margin-top: .8em;">Materiell</h2>
<style>
	.huge-icon {
		font-size: 8em;
		width: 1em;
		height: 1em;
	}
</style>
<ol class="list-group" style="width: 95%;">
	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-format-video huge-icon"></div>
		</div>
		<h3>
			<a href="?page={{GET('page')}}&action=category">Last ned filmer til presentasjoner og sosiale medier</a>
		</h3>
		<p>
			Vi har samlet filmer som kan forklare hva UKM er, og samtidig foreslått tekster du kan bruke som status.
		</p>

		<div class="clearfix"></div>
	</li>

	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-cart huge-icon"></div>
		</div>
		<h3>
			<a href="https://strommes24shop.no/ukm/" target="_blank">Bestill ferdig materiell</a>
		</h3>
		<p>
			Her kan du bestille gratis trykksaker, eller kjøpe andre UKM-produkter som t-skjorter, drops, bannere osv.
		</p>
		<p class="small">
			<b>OBS:</b>
			Du vil få spørsmål om brukernavn og passord. Dette oppretter du selv når du fullfører din bestilling. 
						Brukernavn og passord du har fått fra UKM Norge gjelder ikke i nettbutikken.
		</p>

		<div class="clearfix"></div>
	</li>


	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-printer huge-icon"></div>
		</div>
		<h3>
			<a href="https://materiell.ukm.no" target="_blank">Tilpass og skriv ut materiell</a>
		</h3>
		<p>
			Ferdigmalene gjør at du raskt og enkelt kan lage dine egne plakater, program, facebook-bannere og lignende.
		</p>
		<p class="small">
			&nbsp;
		</p>

		<div class="clearfix"></div>
	</li>

	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-flag huge-icon"></div>
		</div>
		<h3>
			<a href="?page=UKMmarketing&action=backdrop">Backdrop til scene og studio</a>
		</h3>
		<p>
			Her kan du laste ned digitale backdrop eller bestille backdrop i tekstil.
		</p>
		<div class="clearfix"></div>
	</li>

	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-cover-image huge-icon"></div>
		</div>
		<h3>
			<a href="https://org.ukm.no/grafisk-profil/" target="_blank">Grafiske elementer og logoer</a>
		</h3>
		<p>
			Ønsker du å designe ting helt selv, eller trenger en UKM-logo finner du de i
			<a href="https://org.ukm.no/grafisk-profil/" target="_blank">vår grafiske profil på organisasjonssiden</a>.
		</p>
		<p class="small">
			<b>TIPS:</b>
			Sjekk ut
			<a href="http://instrato.no/start/ukm-autologin.php?uid={{user_id}}&key={{user_key}}" target="_blank">ferdigmalene</a>
			før du lager egne ting.
		</p>

		<div class="clearfix"></div>
	</li>

	<li class="list-group-item">
		<div class="pull-right float-right">
			<div class="dashicons dashicons-format-audio huge-icon"></div>
		</div>
		<h3>
			<a href="https://www.dropbox.com/sh/z5av9ejr79dh9ov/AACO0_yqL-TNFfBPEtdD0BIya?dl=0" target="_blank">UKM-Låta - Sammen e me bedre</a>
		</h3>
		<p>
			Her finner du tekst, akkorder og hele sangen som fil, slik at du kan bruke den på videoer, spille den av offline, lære ungdommer sangen og bruke den på din måte. </br>Du finner den også på 
			<a href="https://open.spotify.com/track/1Z1UOZoTMUm9UYaF30P4cj?si=cb3babea245e4b78" target="_blank">Spotify her</a>
		</p>

		<div class="clearfix"></div>
	</li>
</ol>
