{# {% extends 'layout.html.twig' %} #}

{% block content %}

	<div class="col-xs-12 col-sm-8">
		<h2>Markedsføring</h2>
		{# <p class="lead">Her samler vi verktøy du kan bruke for å rekruttere deltakere når du møter ungdom lokalt.</p> #}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-12 col-sm-4">
		{% embed 'forside/husk.html.twig' %}{% endembed %}
	</div>
	{% if site_type != 'kommune' %}
		<div class="col-xs-12 col-sm-4">
			{% embed 'forside/pressemelding.html.twig' %}{% endembed %}
		</div>
	{% endif %}
{% endblock %}