<h1>Pressemelding</h1>
<p class="lead">
	Pressemeldingen du skriver her vil vises på 
	<a href="//pressemelding.{{ UKM_HOSTNAME }}" target="_blank">//pressemelding.{{ UKM_HOSTNAME }}</a>
</p>

{% include "wp_modul.flashbag.html.twig" %}

<form method="POST">